@page "/addcourses/{PathWayId:guid}"
@using eLearn360.UI.Shared.Component
@using eLearn360.Data.VM.Policies
@attribute [Authorize(Policy = Policies.IsProfessor)]
<PageTitle>Parcours</PageTitle>

<div class="container my-5">

    <h5 class="col title">Ajouter / Retirer des cours à un parcours</h5>

    @if (_isLoading)
    {
        <Loader />
    }
    else
    {
        <h5 class="mt-5 mb-3 font-weight-bold">Cours privés</h5>
        @if (PrivateCourses.Count == 0)
        {
            <p class="fst-italic text-muted">Vous n'avez pas encore créé de cours</p>
        }
        else
        {
            <table class="table mb-5">
                <tbody>
                    @foreach (var item in PrivateCourses)
                    {
                        <tr>
                            <td class="fw-bold">@item.Name</td>
                            <td>@item.Description</td>
                            <td><a href="courseoverview/@item.Id/@PathWayId/addcourses" class="btn btn-global" title="Voir le cours"><span class="oi oi-eye"></span></a></td>
                            <td class="d-flex justify-content-end">

                                @if (ListCourseId.Contains(item.Id))
                                {
                                    <button class="btn btn-outline-danger" @onclick="() =>DeleteCourse(item.Id)"><span class="oi oi-minus" aria-hidden="true"></span></button>
                                }
                                else
                                {
                                    <button class="btn btn-global" @onclick="() =>AddCourse(item.Id)"><span class="oi oi-plus" aria-hidden="true"></span></button>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (PublicCourses.Count > 0)
        {
            <h5 class="mt-5 mb-3 font-weight-bold">Cours publics</h5>
            <table class="table mb-5">
                <tbody>
                    @foreach (var item in PublicCourses)
                    {
                        <tr>
                            <td class="fw-bold">@item.Name</td>
                            <td>@item.Description</td>
                            <td class="d-flex justify-content-end">

                                @if (ListCourseId.Contains(item.Id))
                                {
                                    <button class="btn btn-outline-danger" @onclick="() =>DeleteCourse(item.Id)"><span class="oi oi-minus" aria-hidden="true"></span></button>
                                }
                                else
                                {
                                    <button class="btn btn-global" @onclick="() =>AddCourse(item.Id)"><span class="oi oi-plus" aria-hidden="true"></span></button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <a href="pathlistoverviewteacher" class="btn btn-global-outline mb-4">Retour</a>
    }

</div>
