@*<div class="container-fluid bg-dark">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-md-between w-100">
                <div class="col-md-6 col-sm-12">
                    <div class="d-flex flex-column">
                        <img src="img/icon-192x192.png" alt="logo-EA" width="164" />
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 my-auto text-white text-md-right">
                    <div class="d-flex flex-column">
                        <span class="address-title">EducAssist ASBL</span>
                        <span>Rue de Tubize, 40/42</span>
                        <span>Virginal-Samme</span>
                        <span>Belgique</span>
                        <span><a href="mailto: contact@educassist.be" class="link-text">contact@educassist.be</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="container-fluid bottom-footer py-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <a href="www.educassist.be" class="link-text">© 2021 EducAssist</a>
            </div>
        </div>
    </div>
</div>
