@using eLearn360.UI.Shared.Component
@attribute [Authorize]

<div class="modalDialog fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold">
                    Retrouver votre compte
                </h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">

                <div class="my-4">
                    <h6 class="mb-1">Veuillez entrer votre adresse e-mail afin de réinitialiser votre mot de passe.</h6>
                </div>

                <div class="my-4">
                    <label for="InputMail">Votre adresse mail </label>
                    <input type="email" class="form-control mt-2" id="InputMail" placeholder="ex : justinedupont@gmail.com" @bind-value="@Email">
                    <label class="mt-2 text-danger">@Message</label>
                    @if (_isLoading)
                    {
                        <div class="d-flex p-2 justify-content-center mt-4" >
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <div class="modal-footer">
                @if (!_isLoading)
                {
                    <button type="submit" class="btn btn-global" @onclick="() => IsValidEmail(Email)">Envoyer</button>
                    <button type="button" class="btn btn-global-outline" @onclick="@ModalCancel">Annuler</button>
                }
                else
                {
                    <button type="submit" class="btn btn-global" disabled>Envoyer</button>
                }

            </div>
        </div>
    </div>
</div>